/* Navigation bar */
nav{
    background-color: grey;
    padding: 16px 32px;
    box-shadow: 0 2px 6px #000;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 32px;
}

nav ul li a{
    text-decoration: none;
    color:#000;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 4px;
}

nav ul li a:hover{
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
}

/* Header section  */
.hero{
    position: relative;
    height: 500px;
    background-image: url(https://images.unsplash.com/photo-1534825696654-39efb2c8453d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h2{
    font-size: 32px;
    font-weight: 600;
    color: aliceblue;
}